@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap'); 

*{
  margin: 0;
  padding: 0;
}
.page-wrapper {
  /* width: 100%;
  height: 100vh; */
  background-image: url(/src/images/Rectangle.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  background-attachment: scroll; 
  font-weight: 400;
}
.container {
  padding-top: 215px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  height: 100vh;
  width: 100%;
  font-family: "Italianno", sans-serif;
}
.card{
  text-align: center;
   padding: 5% 5%;
  max-width: 550px;
  width: 90%;
  border: 1px solid #000;
  border-radius: 20px;
  box-shadow: 4px 6px 7px 0 rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #fff 0%, #fff 40.03%, #c7f4ff 100%);
}
h1{
  font-weight: 400;
  font-size: 72px;
  text-align: center;
  color: #000;
  margin-top: 40px;
  margin-bottom: 58px;
}
button {
  font-family: "Italianno", sans-serif;
  padding: 5px 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.35);
  background-color: #d61e21;
  font-size: 40px;
  text-align: center;
  color: #fff;
}
button:hover{
  background-color:#700a0a;
  transition: 0.5s;
}
p{
  font-family: "Numans", sans-serif;
  font-size: 40px;
  text-align: center;
  color: #000;
}
span{
  font-size: 46px;
  line-height: 130%;
  color: #0f76f0;
}
.left-branches {
    position: absolute;
    top: -10%;
    left: -5%;
}
.right-branches {
    position: absolute;
    top: -5%;
    right: -5%;
}
